body {
  color: green;
  width: 200px;
}
body #main {
  color: blue;
  background-color: green;
  line-height: 2.6;
}
body__container {
  height: 200px;
  width: 900px;
  border: 1px solid #888;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.8);
  -moz-box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.8);
  -o-box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.8);
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.8);
}

@-webkit-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
